# Temporary files (editors or configuration files)
*~
.*

configure
Makefile
env_TrioCFD.sh
full_env_TrioCFD.sh
TrioCFD
TrioCFD_opt
TrioCFD_semi_opt
README.BALTIK
index.html
build/
local/
__pycache__

# why is this generated ? always empty
liste_cas

################################
# Jupyter validation reports
Run.log

# from Run_fiche -archive
archive.log
build_init/
old_rapport*
preserve.tgz
preserve_FAILED.tgz


# eclipse
eclipse-trust-config
README_BALTIK_ECLIPSE
*.launch